<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="navbar">
        <div class="box-conteiner">
            <img class="logo" src="Public/images/logo-mercado-liebre.svg" alt="Logo de la empresa">
            <div class="box-input">
                <form class="search-bar" action="">
                    <input class="input-search" type="search" id="search" name="search" placeholder="Buscar productos, marcas"/>
                    <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="box-parrafo">
                <p class="parrafo"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="navegador">
            <div class="box-nav">
                <ul class="list">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="box-navv">
                <ul class="login-bar">
                    <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-from-bracket"></i></li>
                    <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>


    <script src="https://kit.fontawesome.com/6868278fd3.js" crossorigin="anonymous"></script>
</body>
</html>
